  @font-face {
    font-family: "BalooRegular";
    src: url("../../fonts/Baloo Regular 400.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "AbrilFatface";
    src: url("./fonts/AbrilFatface-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "LobsterTwoRegular";
    src: url("./fonts/LobsterTwo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSansGujaratiBold";
    src: url("./fonts/NotoSansGujarati-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "NotoSansGujaratiRegular";
    src: url("./fonts/NotoSansGujarati-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    width: 100vw !important;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .bg-image {
    background-image: url("../images/bg-image.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .home-btn {
    position: fixed;
    top: 5%;
    left: 4%;
    width: 3.5vw;
    z-index: 2;
    transition: transform 0.2s ease;
  }

  .home-btn:hover {
    transform: scale(1.15);
  }

  .home-btn img {
    width: 100%;
  }

  .back-btn {
    position: fixed;
    top: 5%;
    left: 4%;
    width: 3vw;
    height: 3vw;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.533);
    transition: transform 0.2s ease, color 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    border-radius: 50%;
    border: 0.2vw solid white;
  }

  .back-btn i {
    font-size: 1.5vw;
    color: white !important;
    line-height: 1;
    text-decoration: none;
  }

  .back-btn:hover {
    transform: scale(1.1);
    background-color: white;
  }

  .back-btn:hover i {
    color: gray !important;
  }


  .language-container {
    position: fixed;
    top: 5%;
    right: 4%;
    display: flex;
    width: 8.4vw;
    padding: 0.2vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    font-family: "BalooRegular";
    border: 0.2vw solid white;
    border-radius: 50vw;
  }

  .language-container div {
    width: 2.2vw;
    height: 2.2vw;
    font-size: 1.7vw;
    text-align: center;
    border: 0.2vw solid #ffffff;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    font-family: "BalooRegular", sans-serif;
  }

  .language-container div:hover {
    color: #6A6A6A;
    background-color: white;
  }

  .language-container div.active {
    color: #6A6A6A;
    background-color: white;
  }

  .title {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    width: 74%;
    height: auto;
    word-break: keep-all;
    padding: 2vw 0vw;
    border-radius: 2vw;
    color: white;
    font-weight: 700;
    font-family: "AbrilFatface";
    background: linear-gradient(135deg,
        rgba(217, 217, 217, 0.20),
        rgba(255, 255, 255, 0.100));
    backdrop-filter: blur(1vw);
    -webkit-backdrop-filter: blur(1vw);
    box-shadow:
      -0.4vw 0.4vw 0.1vw rgba(0, 0, 0, 0.40),
      inset 0 0.1vw 0.2vw rgba(255, 255, 255, 0.25);
    border: 0.1vb solid white;
  }

  .title:hover {
    backdrop-filter: blur(2vw);
    -webkit-backdrop-filter: blur(2vw);
    cursor: pointer;
  }

  .title-1 {
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    text-align: center;
    width: 40%;
    height: auto;
    word-break: keep-all;
    padding: 0.5vw 0vw;
    border-radius: 50vw;
    color: white;
    font-weight: 700;
    font-family: "AbrilFatface";
    background: linear-gradient(135deg,
        rgba(255, 255, 255, 0.100));
    backdrop-filter: blur(1vw);
    -webkit-backdrop-filter: blur(1vw);
    box-shadow:
      -0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.40);
    border: 0.1vb solid white;
  }

  .bg-color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: background 0.6s ease;
    overflow-x: hidden;
  }

  .slider-section {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 100vw;
    height: 45vw !important;
    overflow-x: hidden;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vw 0;
  }

  .mySwiper {
    width: 100vw;
    height: 100%;
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    width: 38vw !important;
    height: 19vw !important;
    /* height: 18vw!important; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    opacity: 0.35;
    transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
    transform-origin: center center;
    flex-shrink: 0;
    cursor: pointer;
  }

  .card {
    width: 100%;
    height: 100%;
    border: 0.35vw solid white;
    border-radius: 1vw;
    overflow: hidden;
    background: #f47a35;
    display: flex;
    box-shadow: 0 0.6vw 1.2vw rgba(0, 0, 0, 0.18);
  }

  .card-image {
    width: 50%;
    padding: 0.3vw;
    object-fit: cover;
  }

  .card-image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .swiper-slide-prev,
  .swiper-slide-next,
  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-slide-active {
    transform: translateY(-8vw) rotate(0deg) scale(1) !important;
    z-index: 3;
  }

  .swiper-slide-prev {
    transform: translateY(5vw) rotate(-25deg) scale(0.95) !important;
    z-index: 2;
  }

  .swiper-slide-next {
    transform: translateY(5vw) rotate(25deg) scale(0.95) !important;
    z-index: 2;
  }

  /* focus mode */
  .mySwiper.focus-mode .swiper-slide-active {
    transform: scale(1.3) translateY(-4vw) !important;
    z-index: 20;
  }

  .mySwiper.focus-mode .swiper-slide-prev,
  .mySwiper.focus-mode .swiper-slide-next {
    filter: blur(0.4vw);
    opacity: 0.5;
  }

  /* optional: slightly fade other duplicate slides too */
  .mySwiper.focus-mode .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next) {
    opacity: 0.2;
  }



  .swiper-pagination {
    bottom: 5vw !important;
    text-align: center;
    width: auto;
  }

  .swiper-pagination-bullet {
    width: 0.7vw !important;
    height: 0.7vw !important;
    background: transparent;
    border: 0.12vw solid white;
    opacity: 1;
    margin: 0 0.35vw !important;

  }

  .swiper-pagination-bullet-active {
    background: white !important;
    border: 0.12vw solid white !important;
  }

  .prev-btn,
  .next-btn {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    width: 3vw;
    height: 3vw;
    border: 0.15vw solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(0.2vw);
    transform: translateY(-50%);
    transition: top 0.5s ease, left 0.5s ease, right 0.5s ease, transform 0.5s ease;
    z-index: 30;
  }

  .prev-btn .img-1,
  .next-btn .img-1,
  .prev-btn .img-2,
  .next-btn .img-2 {
    position: absolute;
    color: white;
    font-size: 1.5vw;
    transition: opacity 0.3s ease, color 0.3s ease;
  }

  .prev-btn {
    left: 45vw;
  }

  .next-btn {
    right: 45vw;
  }

  .prev-btn:hover,
  .next-btn:hover {
    background: white;
    transform: translateY(-50%) scale(1.08);
  }

  .prev-btn:hover .img-1,
  .next-btn:hover .img-1 {
    opacity: 0;
  }

  .prev-btn:hover .img-2,
  .next-btn:hover .img-2 {
    opacity: 1 !important;
    color: gray;
  }

  .swiper-focus-active .prev-btn,
  .swiper-focus-active .next-btn {
    top: 25%;
    /* transform: translateY(0); */
  }

  /* reduce left-right gap of buttons in focus mode */
  .swiper-focus-active .prev-btn {
    left: 15vw;
  }

  .swiper-focus-active .next-btn {
    right: 15vw;
  }

  .card-text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center !important;
    text-align: center;
    color: white;
    padding: 0.5vw !important;
    font-family: "AbrilFatface";
    flex-direction: column;
    object-fit: contain;
  }

  .card-text span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8vw;
    font-weight: 600;
    /* padding: 5vw; */
  }

  .card-text p {
    width: 100%;
    height: auto;
    padding: 0.5vw !important;
    font-size: 1.2vw !important;
    line-height: 2vw !important;
    font-family: "BalooRegular" !important;
    display: none;
  }

  body.lang-gujarati .card-text p {
    font-family: "NotoSansGujaratiRegular" !important;
    font-weight: bolder !important;
    /* margin-top: 0.5vw; */
  }

  .mySwiper.focus-mode .swiper-slide-active .card-text p {
    display: block;
    animation: textFromTop 0.8s ease;
  }


  .mySwiper.focus-mode .swiper-slide-active .card-text span {
    padding: 0;
    animation: textFromTop 0.8s ease;
  }

  @keyframes textFromTop {
    from {
      transform: translateY(20vw);
    }

    to {
      transform: translateY(0);
    }
  }

  .pranam-container {
    position: absolute;
    width: 45vw;
    height: auto;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pranam-container>.pranam-img {
    position: relative;
    width: 85%;
    height: auto;
    display: block;
  }

  .pranam-container>.pranam-img>img {
    width: 100%;
    display: block;
  }

  .pranam-img span {
    z-index: 15;
    position: absolute;
    top: 17%;
    left: 50%;
    font-size: 3.4vw;
    transform: translateX(-50%);
    font-family: "BalooRegular";
  }

  .pranam-container .home-btn-1 {
    position: absolute;
    top: 88%;
    left: 35%;
    transform: translateX(-50%);
    width: 15vw;
    height: auto;
    transform: scale(1);
    transition: transform 0.2s ease;
  }

  .home-btn-1:hover {
    transform: scale(1.2);
  }

  .pranam-container .home-btn-1 img {
    width: 100%;
    display: block;
  }

  .home-btn-1 span {
    z-index: 15;
    position: absolute;
    top: 45%;
    left: 38%;
    font-size: 2.5vw;
    transform: translateY(-50%);
    font-family: "BalooRegular";
    color: #821b00;
  }